<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>华联超市管理系统</title>
    <!-- jquery.js -->
    <script src="./libs/jQuery/jquery.js"></script>
    <!-- vue.min.js -->
    <script src="./libs/Vue/vue.min.js"></script>
    <!-- elementUI.min.js -->
    <script src="./libs/elementUI/js/elementUI.min.js"></script>
    <!-- elementUI.min.css -->
    <link rel="stylesheet" href="./libs/elementUI/css/elementUI.min.css">
    <!-- index.css -->
    <link rel="stylesheet" href="./styles/index.css">
    <!-- 自定义css -->
    <link rel="stylesheet" href="./styles/userAdd.css">
    <!-- 根据cookie检测是否登录 -->
    <script src="/users/checkIsLogin"></script>
</head>

<body>
    <div id="app">
        <div class="container">
            <!-- 整体布局 -->
            <el-container>
                <!-- 右侧 -->
                <el-container>
                    <!-- 右侧头部 -->
                    <el-header>
                        <h2>欢迎您&emsp;{{username}}</h2>
                        <p>修改用户账号</p>
                    </el-header>
                    <el-main>
                        <el-row>
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <h3>修改用户账号</h3>
                                </div>
                                <div class="userAdd">
                                    <!-- 添加账号的表单 -->
                                    <el-form :model="editForm" status-icon :rules="rules" ref="editForm" label-width="100px"
                                        class="demo-ruleForm">
                                        <!-- 用户名 -->
                                        <el-form-item label="用户名" prop="username">
                                            <el-input type="text" v-model="editForm.username" autocomplete="off"></el-input>
                                        </el-form-item>
                                        <!-- 密码 -->
                                        <el-form-item label="密&emsp;码" prop="password">
                                            <el-input type="password" v-model="editForm.password" autocomplete="off"></el-input>
                                        </el-form-item>
                                        <!-- 选择用户组 -->
                                        <el-form-item label="选择用户组" prop="group">
                                            <el-select v-model="editForm.group" placeholder="请选择用户组">
                                                <el-option label="普通用户" value="普通用户"></el-option>
                                                <el-option label="超级用户" value="超级用户"></el-option>
                                            </el-select>
                                        </el-form-item>
                                        <!-- 按钮 -->
                                        <el-form-item>
                                            <el-button type="primary" @click="submitForm('editForm')">修改</el-button>
                                            <el-button @click="resetForm('editForm')">取消</el-button>
                                        </el-form-item>
                                    </el-form>
                                </div>
                            </el-card>
                        </el-row>
                    </el-main>
                    <el-footer>
                        <p>© Copyright 2018 华联超市管理系统</p>
                    </el-footer>
                </el-container>
            </el-container>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data() {
                // 自定义验证规则函数
                let checkPass = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请再次输入密码！'));
                    } else if (value.length < 6 || value.length > 16) {
                        callback('密码长度必须在 6-16 位之间！');
                    }
                    else if (value !== this.editForm.password) {
                        callback(new Error('两次输入的密码不一致！'));
                    } else {
                        callback();
                    }
                }
                return {
                    username: '',
                    editForm: {
                        username: '',
                        password: '',
                        group: ''
                    },
                    rules: {
                        // 用户名验证
                        username: [
                            { required: true, message: '请输入用户名', trigger: 'blur' },     // 为空验证
                            { min: 2, max: 10, message: '用户名长度必须在 2-10 位之间！', trigger: 'blur' }    // 长度验证
                        ],
                        // 密码验证
                        password: [
                            { required: true, message: '请输入密码', trigger: 'blur' },
                            { min: 6, max: 16, message: '密码长度必须在 6-16 位之间！', trigger: 'blur' }    // 长度验证
                        ],
                        group: [
                            { required: true, message: '请选择用户组', trigger: 'change' }
                        ]
                    }
                };
            },
            // 生命周期钩子函数
            created() {
                // 保留当前this
                var _this = this;
                // 获取到id
                let id = location.href.split('=')[1];
                // 发起ajax请求
                $.get(`/users/useredit?id=${id}`, function (data) {
                    _this.editForm.username = data[0].username;
                    _this.editForm.password = data[0].password;
                    _this.editForm.group = data[0].groups;
                });
                // 获取登录的用户名请求
                $.get('/users/getusername', function (data) {
                    _this.username = data;
                });
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        // 发起请求的数据
                        const userData = {
                            username: this.editForm.username,
                            password: this.editForm.password,
                            group: this.editForm.group,
                            id: location.href.split('=')[1]
                        }
                        if (valid) {
                            // 发起ajax请求
                            $.post(`/users/saveedit`, userData, function (data) {
                                // 如果返回到数据的statusCode为1
                                if (data.statusCode === 1) {
                                    // 弹出成功提示信息
                                    alert(data.msg);
                                    // 跳转到账号管理页面
                                    location.href = './userList.html';
                                } else {
                                    alert(data.msg);
                                }
                            });
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }
        });
    </script>
</body>

</html>